/* General */
body {
  background: #fcfcfc;
}

h3 {
  margin-left: 15px;
}

.inherited::after {
  content: 'inherited';
  float: right;
  font-size: 0.8em;
  color: red;
}

.default::after {
  content: 'default';
  float: right;
  font-size: 0.8em;
  color: red;
}

.help-pane {
  opacity: 0.7;
  background: #000000;
  color: #FFFFFF;
  padding: 10px;
}

.axis {
  position: absolute;
  border-color: #c8c8c8;
  border-style: dashed;
}

.axis:hover {
  border-color: #FFFFFF;
  border-style: solid;
  content: "+";
}

#xaxis.axis {
  left: 55px;
  right: 50px;
  bottom: 10px;
  height: 35px;
}

#yaxis.axis {
  top: 75px;
  bottom: 50px;
  left: 10px;
  width: 35px;
}

.layers {
  min-height: 50px;
  margin: 15px 15px 0 15px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.geoms {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.geoms .ds-dragitem,
.layers .ds-dropoption {
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #999;
  font-size: 15px;
  font-weight: bold;
  color: black;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 3px;
}

.geoms .ds-dragitem:hover,
.layers .ds-dropoption:hover,
.dataset-vars .grid:hover,
.selected-aes-col .grid:hover {
  box-shadow: 0 0 0 1px #fafafa, 0 0 0 3px #AAA;
}

.geoms .ds-dragitem.ds-selected,
.layers .ds-dropoption.ds-selected {
  cursor: default;
  box-shadow: 0 0 0 1px #fafafa, 0 0 0 3px #666;
}

.selected-geom-inner,
.layer-inner {
  height: 100%;
  width: 100%;
  position: relative;
}

.visible {
  position: absolute;
  color: #000;
  bottom: 7px;
}

.layer-inner svg {
  visibility: hidden;
}

.layer-inner:hover svg {
  visibility: visible;
}

.dataset-vars .grid,
.selected-aes-col .grid {
  cursor: pointer;
  border: 1px solid #eee;
  font-size: 15px;
  font-weight: bold;
  color: black;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 1px 0;
}

.dataset-vars .grid .varname,
.selected-aes-col .grid .aesname {
  margin-left: 15px;
}

.ds-toggle-visible {
  margin: -3px 0 0 -3px;
  line-height: 0;
  float: left;
}

.ds-dropoption[data-value="geom-blank"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAABHkjHhAAAADFBMVEUAAADDw8Pf39////8rOwR2AAAAIUlEQVR4AWNAB1KrkMESBv3/yOAH/fij/FH+KB8jP6IBAPMiKJ7xlAlRAAAAAElFTkSuQmCC) no-repeat;
  background-size: 100%;
}
.ds-dragitem[data-value="geom-bar"],
.ds-dropoption[data-value="geom-bar"] {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AQMAAAAAMksxAAAABlBMVEX///8mJiZ40e/1AAAAFUlEQVR4AWOgN6j//2CYMSDkMGQAAG9VqnFBc2JcAAAAAElFTkSuQmCC) no-repeat;
    background-size: 100%;
}
.ds-dragitem[data-value="geom-point"],
.ds-dropoption[data-value="geom-point"] {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAAAAAAfl4auAAABdElEQVR4AbzWIWzCQBTG8RegaxOSTUCzBVJCS9BsArEpmsnNb0HMbqJy04S0fg6vWm9ANymuFl3ZBAclTXowth6I89+S+/ufea+5Pvr9R9Jx5o5GLsMwMzUixcwg7ClUprkQtunUSD72NG4VF8KZqRBpJsNWxTzb9jKJH8khiVMU569d4+brCOF9p8pn/A3hsEk8K0WwrxLPiBG80InXThC8GXJbuTtA015TQ209FeCetws/LCQ+Q3ngTCIQs8ElEc0wPK5SmR5BuEenJhA2z9iB8CPx6gGEl9zWDIatavVg9t938v9VEN599K37FYaZUaOyJYSDOvFsCDt0yoLw9Ix7EI50bqtjbNozIroaMHDP0dQJcokfSRH68y2Ii+eW2qA1hH9uK1Q23CA4aRNPnyM4Noin+ghOLeI1Q2hgnxf8u+rsIXx8uza6Lzn6GKRxcpD1DIn7GcDifgawuJ8BLE5g2VjczwAW9zOExf38NzrXVRQAABGP9aJh/UzGAAAAAElFTkSuQmCC) no-repeat;
    background-size: 100%;
}
.ds-dragitem[data-value="geom-line"],
.ds-dropoption[data-value="geom-line"] {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAAAAAAfl4auAAABOElEQVR4Ae3WMU4CURRGYXs7N+F2ABWXoc4awAp6rdQ9qKVsAHETo42RchoJ12QKHvkSH5OhsHBu86qTnP9kijmIPe4fwB3cwR282AMuju7WbeGy93l1uWwJ39zG+r6/aAV/98uIeBuo3gh+KepnqXojuJjVT1Y9weZa1W9ePcHm2hzqO+FVr6xf1PMwuUL1PEwu1fOwubbVX3fD5HoebdRPVA9hc32cJvXi4msXTK5hmdQfVBc21/Vj/aAuTC5Gqy5MLkYn9RA2l6PTVcdzYXM5Ot10EsLm+nX0fFgBZ7+u9+3R1fmc2ubizkqlt2FzceM0GmnhWRHe0whpYHMxWmlgczFaaWBzMVppYHMxWmlgczFaaWCO0dUQ6SzM6Mk0GsOMVjoPM1rpPMzo8TRaw4PD6u9/pTr4B9LfsdEdAfdTAAAAAElFTkSuQmCC) no-repeat;
    background-size: 100%;
}
.ds-dragitem[data-value="geom-dotplot"],
.ds-dropoption[data-value="geom-dotplot"]{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAFVBMVEX////Ozs5qampiYmLa2toYGBgAAACh6dWXAAAAgUlEQVR42u2QMQrAMAwDGzvJ/5/cBk+mCGFvpdJwCIEhuUtRFEVRlB9lmM/u7Vx7r9E89v3Emsd2jr375fPs/qfdRtkw69ww7tww7tww7tww7tww7txwEO3McBDtxHAQ7cRwEO3EcBDtxHAQ7W/bVWbbVSbbVSbbVSbbVSaTVX43NyZjCc3Zq3CYAAAAAElFTkSuQmCC) no-repeat;
    background-size: 100%;
}
.ds-dragitem[data-value="geom-boxplot"],
.ds-dropoption[data-value="geom-boxplot"] {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8BAMAAADI0sRBAAAAIVBMVEX////c3NygoKCfn59jY2NAQEBBQUGKiopkZGSJiYk/Pz89z7m5AAAAdUlEQVR4AWOgPmAUwCvNpDDypJmNjY1NnIGEAVZpVSUoSMYqrQxn0E+aUQCvNJPCIJPGDOcSWKB2YglnNGlMAxFs+kgjnEOONEJoYKW1jKEgGKs0E9ADGk1AQgGrNCJy8UuPSiPCGYs0ZjgzCgyNghLu2qEFABDhJYXCskOWAAAAAElFTkSuQmCC) no-repeat;
    background-size: 100%;
}

.ds-dragitem[data-value="geom-violin"],
.ds-dropoption[data-value="geom-violin"] {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAAAAAAfl4auAAAB1klEQVRIx+3Xv0sCYRgH8K8/4JRcOsEECbsz8AaDgwhqFV3rL4goapSif0GcDJwCHQoiEIJACzLccmlpbjGQ6BcOgggON1nDZXeveZfvc9AQPePD84Hj7n2e9zm8Owj847+HKxU6LrrdRTJeBlaouDEDzDRoeJACgNSAhMsiAIhlCm4rAAAobQJe9+rYu8GPL0L4jNAlL+4t4CsWepw47zewP8+H+wpMofTtcL0+kqiJZizWbPCV4LtiM/tgYt8GbwGbbCbJ4qQ17siA3GFSCRYnrHHBB/gKTCrG4pgl7ioAoHTNOYnFc5Y4KwCAkLXBkhV+lvUC+ZmA9zx6gWeX/7Ff5WGF/Mr9wkrCsEIocn+qNaNklfuQqEaJyn08x+PryRpj/GNP2JKmF1YypQ8mGgYvX59UeuEfQxm3XuLOEAZgK6rXRFuU0bujF22Thn4jCADBG9J104wAQKRJuugOpwBg6oRyxd5+tqR0/k2v/HS5143WPeNdK05dxmEIl0crq1W7heZomumeY65VapFtvUUunGZxmgu/sXPunm8DfEwGhjSw1OFdH7XcrG5ncxph97ybcwEu9Y62uD7NA3igbr2NcLhGX5njcQf7tqo6wJrmAP/WP8YHdIxLvAqrfWwAAAAASUVORK5CYII=) no-repeat;
	background-size: 100%;
}

.ds-dragitem[data-value="geom-rug"],
.ds-dropoption[data-value="geom-rug"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAAAAAAfl4auAAAArElEQVRIx+2WsQ2AIBRE/x4MwxDUdszADpTuIWs4AAM4hIWthiOhVi7RGP4V/IYXAgfHl5OQULCF5g/g7/b8U9hAoQ/20KKnfRc+oE64auqDI7SqVXfhDO2MVa4PTtCmVr1yYJRV1CUZ0SoqhqgApKJ3RKuoz51qK7SJG6vfnuviod61CemwO+T55hCua330S2jzG2wtivFlPCSWkiWVkiSXEgXP3ps2X+GH8AU8+GV4A9XwagAAAABJRU5ErkJggg==) no-repeat;
  background-size: 100%;
}
